@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Training.Umbraco.WebSite.UI.Controllers
@using Umbraco.Web.Models
@{
    Layout = "~/Views/Layout.cshtml";


        Html.EnableClientValidation();
        Html.EnableUnobtrusiveJavaScript();
}

<div class="row">

    <h2>Login</h2>
    <p>
        Please enter your user name and password. <a href="/register">Try here</a> if you don't have an account.
    </p>
    @Html.Partial("LoginForm", new LoginModel())

</div>
