<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT Root ANY>
<!ATTLIST Root id ID #REQUIRED>
<!ELEMENT Content ANY>
<!ATTLIST Content id ID #REQUIRED>
<!ELEMENT SystemDocumentType ANY>
<!ATTLIST SystemDocumentType id ID #REQUIRED>
<!ELEMENT Component ANY>
<!ATTLIST Component id ID #REQUIRED>
<!ELEMENT Page ANY>
<!ATTLIST Page id ID #REQUIRED>
<!ELEMENT Product ANY>
<!ATTLIST Product id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT GlobalSettingsFolder ANY>
<!ATTLIST GlobalSettingsFolder id ID #REQUIRED>
<!ELEMENT ProductFolder ANY>
<!ATTLIST ProductFolder id ID #REQUIRED>
<!ELEMENT CategoryFolder ANY>
<!ATTLIST CategoryFolder id ID #REQUIRED>
<!ELEMENT Category ANY>
<!ATTLIST Category id ID #REQUIRED>
<!ELEMENT ShoppingCart ANY>
<!ATTLIST ShoppingCart id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>
<!ELEMENT register ANY>
<!ATTLIST register id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
]>
<root id="-1">
  <HomePage id="1058" key="7dbdeb3b-1bf7-4f22-acfa-b7452b79a4f3" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-22T16:05:38" updateDate="2016-08-05T11:17:48" nodeName="Home" urlName="home" path="-1,1058" isDoc="" nodeType="1057" creatorName="Admin" writerName="Admin" writerID="0" template="1056" nodeTypeAlias="HomePage">
    <showInMainNavigation>0</showInMainNavigation>
    <metaKeywords><![CDATA[Umbraco,Moriyama]]></metaKeywords>
    <metaDescription><![CDATA[This is the umbraco training web site]]></metaDescription>
    <logo>1076</logo>
    <TextPage id="1091" key="fd2f5a43-dc52-4bd8-bf16-1f05a0289e0d" parentID="1058" level="2" creatorID="0" sortOrder="0" createDate="2016-02-24T18:00:26" updateDate="2017-08-07T19:15:11" nodeName="About Us" urlName="about-us" path="-1,1058,1091" isDoc="" nodeType="1087" creatorName="Admin" writerName="Admin" writerID="0" template="1088" nodeTypeAlias="TextPage">
      <showInMainNavigation>1</showInMainNavigation>
      <summary><![CDATA[Hi, I'm Ian Amazon...]]></summary>
      <editorText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Records, we sell records",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "f1e31353-47cc-6499-ec4c-3df0cc864b70"
        },
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "config": {},
              "styles": {},
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1109,
                    "image": "/media/1002/pexels-photo-89845.jpeg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": true
                }
              ],
              "hasActiveChild": true,
              "active": true
            },
            {
              "grid": 8,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p> </p>\n<p>Initially my idea was to take each order for a popular recording; album or single, and fly to the Amazon rainforest, where I, Ian Amazon would dip the vinyl recording gently into the depths of the Amazon river, thus Double Amazoning<sup>TM</sup> the quality of the purchased soundscape. Unfortunately this proved to be a little cost inhibitive, and damaging to the environment and so later I, Ian Amazon, after some experimentation with the Zambezi, switched to recycled cardboard sleeves.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "48749642-eab4-e913-2cb7-9d8aab34454b",
          "hasActiveChild": true,
          "active": true
        },
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Top selling products",
                  "editor": {
                    "alias": "headline"
                  }
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "2715085f-af2e-2dad-3b50-fdc35db7f6d2"
        },
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "TopSelling",
                    "macroParamsDictionary": {
                      "numberOfItems": "3"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  }
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "7c89ecca-0046-4599-3dd1-28f37ea2cce4"
        }
      ]
    }
  ]
}]]></editorText>
      <leftImage><![CDATA[umb://media/24687879201f489798a3b60e316f98f2]]></leftImage>
      <richText><![CDATA[<p>... I struggled in school and dropped out at the age of 16, a decision which ultimately lead to the creation of Amazon Records.</p>
<p>I moved into a comune in London in the swinging sixties surrounded by the British music scene where I ran a free magazine publication for students, run by students. It was here that I had the idea to begin a mail-order record company called Amazon, purely to fund my magzine efforts.</p>
<p>The company performed modestly, but make me enough money that I was able to expand the business venture, adding a record shop on Oxford Street, London. With the success of the record shop, I, a high school drop-out was able to build a recording studio in the heart of Oxfordshire, England. And the rest is history...</p>]]></richText>
    </TextPage>
    <TextPage id="1092" key="d9c0a575-eaf2-45b0-bd0a-30d2e291cec3" parentID="1058" level="2" creatorID="0" sortOrder="1" createDate="2016-02-24T18:00:45" updateDate="2017-08-07T19:13:23" nodeName="Contact Us" urlName="contact-us" path="-1,1058,1092" isDoc="" nodeType="1087" creatorName="Admin" writerName="Admin" writerID="0" template="1089" nodeTypeAlias="TextPage">
      <showInMainNavigation>1</showInMainNavigation>
      <summary><![CDATA[Lorem ipsum dolor sit amet]]></summary>
      <leftImage><![CDATA[umb://media/e9e24d4c053c4f67ba4cabcd6c52ca21]]></leftImage>
      <richText><![CDATA[<p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lorem nibh, fermentum vitae aliquet vel, semper id nunc. Maecenas ultricies, enim eu hendrerit imperdiet, lorem eros lobortis ligula, id pellentesque arcu lorem quis ipsum. Ut mollis mattis faucibus. Phasellus eget est et nisi sagittis mollis at ut ex. Mauris rutrum aliquet sem, et auctor metus malesuada id. Phasellus volutpat non mi eget mollis. Vestibulum posuere nunc sit amet dignissim porttitor. Vivamus non augue at odio porta rhoncus. Curabitur accumsan metus sed orci pellentesque congue. In non quam sem. Maecenas sed nibh fringilla urna rhoncus fringilla. Pellentesque pharetra risus at ipsum condimentum, vitae pretium nisi malesuada. Fusce nec erat ut quam porta aliquam ac ac nisl. Morbi eu elementum turpis. Aliquam condimentum convallis venenatis.</span></p>]]></richText>
    </TextPage>
    <ShoppingCart id="1093" key="18d72751-e3d7-4ea9-861a-1702e05c5953" parentID="1058" level="2" creatorID="0" sortOrder="2" createDate="2016-02-24T18:01:50" updateDate="2016-02-24T18:01:50" nodeName="Shopping Cart" urlName="shopping-cart" path="-1,1058,1093" isDoc="" nodeType="1086" creatorName="Admin" writerName="Admin" writerID="0" template="1085" nodeTypeAlias="ShoppingCart">
      <showInMainNavigation>0</showInMainNavigation>
    </ShoppingCart>
    <login id="1105" key="ebe47910-41e0-4d12-b0f6-c0fe453cd38e" parentID="1058" level="2" creatorID="0" sortOrder="3" createDate="2016-08-05T11:20:34" updateDate="2016-08-05T11:20:34" nodeName="Login" urlName="login" path="-1,1058,1105" isDoc="" nodeType="1104" creatorName="Admin" writerName="Admin" writerID="0" template="1103" nodeTypeAlias="login">
      <showInMainNavigation>0</showInMainNavigation>
    </login>
    <register id="1106" key="84f907f6-c2cf-4cc2-ac50-655da1b7424d" parentID="1058" level="2" creatorID="0" sortOrder="4" createDate="2016-08-05T11:20:44" updateDate="2016-08-05T11:20:44" nodeName="Register" urlName="register" path="-1,1058,1106" isDoc="" nodeType="1102" creatorName="Admin" writerName="Admin" writerID="0" template="1101" nodeTypeAlias="register">
      <showInMainNavigation>0</showInMainNavigation>
    </register>
  </HomePage>
</root>