@model Training.Mvc.OnlineStore.UI.ViewModels.BaseViewModel

<div class="row">
    <div class="col-md-12">
        @Html.Action("About", "About")
    </div>
    <div class="col-md-12">
        @Html.Action("Help", "About")
    </div>
</div>